Localization
{
    en-us
    {
        #ludiPart_0001 = S-1x1 Glass Panel
        #ludiPart_0002 = Clifford's Klein-Bottle-Blowing Company
        #ludiPart_0003 = What was meant as another klein bottle for the remaining 644 to be stored for later sale, repurposed and refabricated into a single glass sheet, with a steel frame.
        #ludiPart_0004 = body build construct cover extend fabricate plat structur support glass transparent
        #ludiPart_0005 = NX-1.875m Intermediate Size Fuel Tank
        #ludiPart_0006 = Repurposed from a FL-T100™ Fuel Tank but management felt that Bigger equals Better, and decided to extrude out the tank out for more fuel. No Refunds for any spillage.
        #ludiPart_0007 = fueltank ?lfo liquid oxidizer propellant rocket
        #ludiPart_0008 = NX2-1.875m Intermediate Size Fuel Tank
        #ludiPart_0009 = NX-1.875m's bigger brother and equally economically friendly! Repurposed from a FL-T200™ Fuel Tank and without any refunds!
        #ludiPart_0010 = NX4-1.875m Intermediate Size Fuel Tank
        #ludiPart_0011 = For the economical maniac who loves to strap fireworks to kerbals! Repurposed from a FL-T400™ Fuel Tank and without any refunds!
        #ludiPart_0012 = Antihydrogen
        #ludiPart_0013 = AH
        #ludiPart_0014 = Anti-Tank System Antihydrogen Tank
        #ludiPart_0015 = Recent advances in magnetic levitation and the massive increase in the size of our money-dump has allowed us to store gaseous death in pure essence. Make sure that this tank ALWAYS receives power, you don't want to know what happens otherwise. No batteries included.
        #ludiPart_0016 = fueltank ah antihydrogen antimatter tank propellant rocket gas
        #ludiPart_0017 = AH-3000 Anti-hydrogen Propulsion System
        #ludiPart_0018 = Recent advances in magnetic levitation and the massive increase in the size of our money-dump has allowed us to burn gaseous death with liquid fuel. No refunds for any spontaneous explosions.
        #ludiPart_0019 = engine ah antihydrogen antimatter propulsion rocket gas
        #ludiPart_0020 = has exploded due to a lack of magnetic levitation.
        #ludiPart_0021 = EC/s is required at maximum volume at standard gravity. Storage efficiency: 
        #ludiPart_0022 = has exploded due to too weak magnetic levitation.
        #ludiPart_0023 = Magnetic field strength is sufficient to 
        #ludiPart_0024 = Antimatter Tank
        #ludiPart_0025 = Liquid Container
        #ludiPart_0026 = Contains *real* liquids governed by material science and thermodynamics. This contains
        #ludiPart_0027 = exploded due to excessive overpressure of
        #ludiPart_0028 = imploded due to excessive underpressure of
        #ludiPart_0029 = Water
        #ludiPart_0030 = H2O
        #ludiPart_0031 = Warning: Antimatter Tank electric charge is low.
        #ludiPart_0032 = Warning: Antimatter Tank acceleration is high.
        #ludiPart_0033 = Warning: Tank Overpressure. Gauge pressure of
        #ludiPart_0034 = Warning: Tank Underpressure. Gauge pressure of
        #ludiPart_0035 = Liquid Name
        #ludiPart_0036 = Net Pressure
        #ludiPart_0037 = Gas Amount
        #ludiPart_0038 = Internal Information
		#ludiPart_0039 = HYDROX Water containment device
		#ludiPart_0040 = After years and millions of dollars of research into more durable fuel tanks had failed, this was what was left of the latest prototype. Hey, at least it serves as a thermoregulator? Just don't get it too hot. Warranty void when exceeding 373.15K.
		#ludiPart_0041 = tank water strong durable thermo reg liquid
		#ludiPart_0042 = shrapnel (
		#ludiPart_0043 = H2Pro-1 HydroLOx Liquid Fuel Tank
		#ludiPart_0044 = The race to 0K against the reds, along with research into more efficient propulsion systems have left us with this massive unwieldy tank. Warranty void upon exploding from overpressure.
		#ludiPart_0045 = fueltank h2 hydrogen efficient tank propellant rocket gas
		#ludiPart_0046 = Liquid Hydrogen
		#ludiPart_0047 = LH2
		#ludiPart_0048 = Liquid Oxygen
		#ludiPart_0049 = LOx
		#ludiPart_0050 = RS-45 Hydro-LOx Rocket Engine (No gimbal)
		#ludiPart_0051 = Inspired by repeated gas explosion chez Jebediah Kerman's Junkyard and Spacecraft Parts Co., Jebediah and Co. have developped a method to channel these explosions downwards to push your spacecraft up. Warranty void upon rapid unplanned disassembly.
		#ludiPart_0052 = rocket h2 hydrogen efficient engine propellant rocket gas thrust
		#ludiPart_0053 = Lean Mixture
		#ludiPart_0054 = Fuel-Rich Mixture
		#ludiPart_0055 = Liquid Helium Coolant
		#ludiPart_0056 = LHe
		#ludiPart_0057 = Maximum thermal load
		#ludiPart_0058 = Target temperature
	}
    fr-fr
    {
		#ludiPart_0001 = S-1x1 Panneau en Verre
        #ludiPart_0002 = Compagne de Soufflage-de-Bouteille-de-Klein de Clifford
        #ludiPart_0003 = Ce qui était censé être une autre bouteille-de-Klein, fabriquée pour vendre, était réutilisée et réfabriquée dans une vitre, avec un cadre en acier autour.
        #ludiPart_0004 = corps construction constructe couvert allonge fabrique plat structur soutien verre transparent
        #ludiPart_0005 = NX-1,875m Réservoir de Taille intermediaire
        #ludiPart_0006 = Réutilisé d'un FL-T100™ mais la gestion se sentait que plus ça soit grand, plus ça soit mieux, et donc a décidé de l'élargir. Aucun remboursement ne fourni.
        #ludiPart_0007 = reservoir ergol carburant oxydeur fusee liquide
        #ludiPart_0008 = NX2-1,875m Réservoir de Taille intermediaire
        #ludiPart_0009 = Le frère plus gros de NX-1.875m et également économique ! Réutilisé d'un FL-T200™ et sans remboursement !
        #ludiPart_0010 = NX4-1,875m Réservoir de Taille intermediaire
        #ludiPart_0011 = Créé pour la maniaque économique qui aime attacher des Kerbals aux fusées ! Réutilisée d'un FL-T400™ et sans remboursement ! (Comme toujours)
        #ludiPart_0012 = Anti-hydrogène
        #ludiPart_0013 = AH
        #ludiPart_0014 = Système Anti-Tank réservoir d'anti-hydrogène
        #ludiPart_0015 = Des avances récentes en lévitation magnétique et l'augmentation massive de notre budget nous ont permis de stocker du gaz létal comme essence pure. Vérifiez simplement que ce réservoir reçoive TOUJOURS de l'électricité, sinon de mauvaises surprises vous arriveront. N'inclus pas de batteries.
        #ludiPart_0016 = reservoir ah antihydrogène antimatière stockage fusee gaz
        #ludiPart_0017 = AH-3000 Système de propulsion Anti-hydrogène
        #ludiPart_0018 = Des avances récentes en lévitation magnétique et l'augmentation massive de notre budget nous ont permis de brûler du gaz létal avec l'ergol. Aucun remboursement ne fourni et pas responsable des explosions spontanées !
        #ludiPart_0019 = moteur ah antihydrogène antimatière propulsion fusee gaz
        #ludiPart_0020 = a explosé à cause d'un manque de la lévitation magnétique.
        #ludiPart_0021 = CE/s est requis au volume maximal à la gravité standarde. Éfficacité de stockage de: 
        #ludiPart_0022 = a explosé car la lévitation magnétique était trop faible.
        #ludiPart_0023 = Champ magnétique suffit jusqu'à 
        #ludiPart_0024 = Réservoir d'Antimatière
        #ludiPart_0025 = Contenuer de Liquide
        #ludiPart_0026 = Ceci contient du liquide réel qui suit les lois de la physique. Ceci contient de/d'
        #ludiPart_0027 = a explosé(e) suit(e) une surpression de
        #ludiPart_0028 = a implosé(e) suit(e) une souspression de
        #ludiPart_0029 = Eau
        #ludiPart_0030 = H2O
        #ludiPart_0031 = Avertissement: Réservoir d'Antimatière manque de charge électrique.
        #ludiPart_0032 = Avertissement: L'Accélération du réservoir d'antimatière est haut.
        #ludiPart_0033 = Avertissement: Surpression du réservoir. Pression calibré de
        #ludiPart_0034 = Avertissement: Souspression du réservoir. Pression calibré de
        #ludiPart_0035 = Nom du Liquide
        #ludiPart_0036 = Pression totale
        #ludiPart_0037 = Quantité du gaz
        #ludiPart_0038 = Information Interne
		#ludiPart_0039 = HYDROX Appareil à Stockage De L'Eau
		#ludiPart_0040 = Après plusieurs années et des millions de dollars dépensés, le recherche dans le stockage d'ergol robuste a échoué et maintenant, ci-dessous est tout qui reste. Hé, du moins ça sert à réguler les températures ? Garantie nulle lorsque la température passe 373.15K.
		#ludiPart_0041 = reservoir eau fort robuste thermo reg liquide
		#ludiPart_0042 = du shrapnel (
		#ludiPart_0043 = H2Pro-1 Reservoir d'Ergol HydroLOx
		#ludiPart_0044 = La course de technologie contre les rouges à 0K, en conjonction avec le recherche dans les systèmes de propulsion nous ont resté ce réservoir maladroit. Garantie nulle suite une explosion de surpression.
		#ludiPart_0045 = reservoir h2 hydrogene efficace ergol fusee gaz
		#ludiPart_0046 = Hydrogène Liquide
		#ludiPart_0047 = H2-L
		#ludiPart_0048 = Oxygène Liquide
		#ludiPart_0049 = O2-L
		#ludiPart_0050 = RS-45 Propulseur de Fusée Hydro-LOx (Sans cardan)
		#ludiPart_0051 = Inspiré par des explosions de gaz chez eux de Décharge Jebediah Kerman et Pièces détachées SARL, Ils ont developpé une méthode de se propulser vos fusées vers le ciel grâce aux explosions contrôlées. Garantie nulle après un désassemblage rapide non-prévu.
		#ludiPart_0052 = fusee h2 hydrogene efficace propulsion ergol gaz poussee
		#ludiPart_0053 = Mélange sèche
		#ludiPart_0054 = Mélange riche en ergol
		#ludiPart_0055 = Hélium liquide réfrigérant
		#ludiPart_0056 = Hé-L
		#ludiPart_0057 = Puissance thermique maximale
		#ludiPart_0058 = Température cible
    }
}